*{
    box-sizing: border-box;
    padding:0px;
    margin:0px;
}

body{
    background-color: #000;
}


.main-image{

    position: relative;
  

}




.nav-bar{

    position:absolute;
    padding:20px;
    margin-left:50px;
    top:0;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    width:1200px;
 
 

}


.nav-left{
    margin-top:10px;
    margin-left:100px;
   
    
}

.nav-left img{
    width:111px;
    height:30px;
    
}

.nav-left a{
    text-decoration: none;
    color:#fff;
    margin-left: 10px;

}

.nav-right{

  margin-top: 10px;
 margin-right:5px;
}

.nav-right a{
    text-decoration: none;
    color:#fff;
    margin-left: 10px;
}

.nav-right img{
    margin-left:10px;
    margin-top:5px;
}

.text-overlay{
    position: absolute;
    top:30%;
    left:8%;
    border:2px solid green;

}

.text-overlay h1{
    color:#fff;
    text-align: center;
}

.text-overlay p{
    color:#fff;
    margin-top:20px;
}

#play{
    margin-top:20px;
   background-color: #fff;
   color:#000;
}

#list{
    margin-top:20px;
    background-color: #000;
    color:#fff;
}

.originals h2{
    color:#fff;
    margin-left:50px;
    margin-top:20px;
    margin-bottom: 20px;
}


.flex-container1{
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap:wrap;
}

.flex-container1 img{
    width:250px;
    height:171px;
}


.trending h2{
    color:#fff;
    margin-left:50px;
    margin-top:20px;
    margin-bottom: 20px;
}


.flex-container2{
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap:wrap;
}

.flex-container2 img{
    width:250px;
    height:171px;
}

.documentaries h2{
    color:#fff;
    margin-left:50px;
    margin-top:20px;
    margin-bottom: 20px;
}


.flex-container3{
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap:wrap;
}

.flex-container3 img{
    width:250px;
    height:171px;
}

.org h2{
    color:#fff;
    margin-left:50px;
    margin-top:20px;
    margin-bottom: 20px;
}


.flex-container4{
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap:wrap;
}

.flex-container4 img{
    width:250px;
    
}

.top h2{
    color:#fff;
    margin-left:50px;
    margin-top:20px;
    margin-bottom: 20px;
}


.flex-container5{
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap:wrap;
}

.flex-container5 img{
    width:250px;
    height: 205px;
    
}

.watch h2{
    color:#fff;
    margin-left:50px;
    margin-top:20px;
    margin-bottom: 20px;
}


.flex-container6{
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap:wrap;
}

.flex-container6 img{
    width:200px;
    height:171px;
   
    
}



.flex-container7{
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap:wrap;
}

.flex-container7 img{
    width:250px;
    height:150px;
   
    
}

.footer{
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-top:50px;
    height: 320px;
 
}

.footer a{
    font-family:'Netflix Sans' ;
    color:#999999;
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;
    display:block;
    margin-top:17px;
    
}

.footer p{
    font-family:'Netflix Sans' ;
    color:#999999;
    font-size: 16px;
    font-weight: 400;
    
}

.line-1 img{
    height:40px;
    width:120px;
    margin-top:20px;
}









